.CARD{
  width: 100%;
  height: 450px;
  position: relative;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  
  url("../../../img/bgStartJourney.png") center center / cover no-repeat;    
}

.bg{
    width: 70%;
    max-width: 900px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
               rgba(255, 255, 255, 0.486), 
               rgba(255, 255, 255, 0.582)
            ); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.btn_Card {
    position: static;
    margin: 16px auto 0;
    border-radius: 20px;
    width: 190px;
    height: 40px;
    font-weight: bold;
    background: linear-gradient(
        to right,
        rgba(20, 32, 32, 1),
        rgba(37, 70, 70, 1),
        rgba(64, 128, 128, 1)
    );
    color: white; 
    font-size: 15px;
    border: 1px solid rgba(20, 32, 32, 1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease; 
    cursor: pointer;
}

.btn_Card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.5); 
    transform: translateY(-3px);

}

.txt_btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text_card{
color: rgba(255, 255, 255, 1);
font-weight: bold;

}